services:
  db:
      image: postgres:15-alpine
      restart: always
      environment:
        POSTGRES_USER: sqladmin
        POSTGRES_PASSWORD: sqladmin
        POSTGRES_DB: expenses
      ports:
        - "5432:5432"
      volumes:
        - ./server/db-data:/var/lib/postgresql/data

  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DB_HOST=db
      - DB_PORT=5432
      - POSTGRES_USER=sqladmin
      - POSTGRES_PASSWORD=sqladmin
      - POSTGRES_DB=expenses
      - JWT_SECRET=secret_key_change_me
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "5173:80"
    depends_on:
      - server
