name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install & Build Server
      working-directory: ./server
      run: |
        npm ci
        npm run build

    - name: Install & Build Client
      working-directory: ./client
      run: |
        npm ci
        npm run build
